/* DM sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

/* Open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
}

.titulo {
    margin: 1.1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 90%;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.menu-acciones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5em;
}

.container-table {
    width: 90%;
    height: 80%;
    margin: 0 2em;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: .3em solid rgb(133, 29, 29);
    font-weight: 400;
    text-align: center;
}

th {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
}


th, td {
    border: .3em solid black;
    font-weight: 500;
    height: 3.5em;
}

td .eliminar:hover {
    cursor: pointer;
}

.eliminar {
    width: auto;
    height: 100%;
    border: none;
    font-size: 2em;

}

.registro-span {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}

