
<div class="container">

    <div class="titulo">
        <h1>Agregar vehiculo</h1>
    </div>
    
    <form class="form-container" [formGroup]="agregarForm" (ngSubmit)="agregarVehiculo()">

        <label class="txtfomr" for="txtKilometraje  ">Kilometraje</label>
        <input class="txtfomr" type="number" id="txtKilometraje" name="txtKilometraje" formControlName="kilometraje">

        <label class="txtfomr" for="txtMatricula">Matricula</label>
        <input class="txtfomr" type="text" id="txtMatricula" name="txtMatricula" formControlName="matricula">

        <label class="txtfomr" for="txtMarca">Marca</label>
        <input class="txtfomr" type="text" id="txtMarca" name="txtMarca" formControlName="marca">

        <label class="txtfomr" for="txtModelo">Modelo</label>
        <input class="txtfomr" type="text" id="txtModelo" name="txtModelo" formControlName="modelo">

        <label class="txtfomr" for="txtColor">Color</label>
        <input class="txtfomr" type="text" id="txtColor" name="txtColor" formControlName="color">

        <label class="txtfomr" for="txtPrecio">Precio</label>
        <input class="txtfomr" type="number" id="txtPrecio" name="txtPrecio" formControlName="precio">

        <button class="btnEnviar" type="submit">Enviar</button>

    </form>
</div>