
<div class="container">
    <ul class="ul-list">
        <li><a class="a" [routerLink]="['/dashboard/concesionarios']" routerLinkActive="activo">Concesionarios</a></li>
        <li><a class="a" [routerLink]="['/dashboard/usuarios']" routerLinkActive="activo">Usuarios</a></li>
        <li><a class="a" [routerLink]="['/dashboard/vehiculos']" routerLinkActive="activo">Vehiculos</a></li>
        <li><a class="a" [routerLink]="['/dashboard/ventas']" routerLinkActive="activo">Ventas</a></li>
    </ul>

    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>

    

    
    
    




