<div class="container">
    
    <div class="buscar">
        <input type="search" placeholder="Buscar">
    </div>

    <div class="filtro">
        <input type="text" placeholder="Filtro">
    </div>

    <div class="acciones">
        <ul class="lista-acciones">
            <li><button (click)="abrirAgregar()" class="agregar"><i class="fa-solid fa-plus"></i></button></li>
            <li><button (click)="abrirActualizar()" class="actualizar"><i class="fa-solid fa-pen-to-square"></i></button></li>
            <li><button class="eliminar"><i class="fa-solid fa-trash"></i></button></li>
        </ul>
    </div>

</div>

