<div class="container">
    <h1 class="titulo"> Acerca de Nosotros </h1>
    <p class="parrafo">
        En esta sección, nos complace presentarte a nuestro concesionario, "Conce". Somos líderes en la venta de
        vehículos nuevos y usados desde el año 2000. Nuestro objetivo es brindar a nuestros clientes una experiencia
        excepcional al adquirir su vehículo, ofreciendo una amplia gama de opciones y un servicio de calidad. Nos
        enorgullece contar con un equipo de profesionales altamente capacitados y apasionados por los automóviles,
        dispuestos a asesorarte en cada paso del proceso de compra.
    </p>

    <h2 class="titulo">Nuestros Servicios:</h2>
    <p class="parrafo">
        En "Conce", ofrecemos una variedad de servicios para satisfacer todas tus necesidades automotrices:
    </p>

    <ul>
        <li class="lista">Comprar vehiculo</li>
        <li class="lista">Vende tu vehiculo</li>
        <li class="lista">Financiamiento</li>
        <li class="lista">Mantenimiento</li>
    </ul>
</div>