<div class="container">

    <div class="titulo">
        <h1>Actualizar vehiculo</h1>
    </div>
    
    <form class="form-container" action="PUT">
        
        <label class="txtfomr" for="txtId">ID</label>
        <input class="txtfomr" type="number" id="txtId">

        <label class="txtfomr" for="txtKilometraje  ">Kilometraje</label>
        <input class="txtfomr" type="number" id="txtKilometraje">

        <label class="txtfomr" for="txtMatricula">Matricula</label>
        <input class="txtfomr" type="text" id="txtMatricula">

        <label class="txtfomr" for="txtMarca">Marca</label>
        <input class="txtfomr" type="text" id="txtMarca">

        <label class="txtfomr" for="txtModelo">Modelo</label>
        <input class="txtfomr" type="text" id="txtModelo">

        <label class="txtfomr" for="txtColor">Color</label>
        <input class="txtfomr" type="text" id="txtColor">

        <label class="txtfomr" for="txtPrecio">Precio</label>
        <input class="txtfomr" type="number" id="txtPrecio">

        <button class="btnEnviar" type="submit">Enviar</button>

    </form>
</div>
