
<div class="container">
    
    <div class="titulo">
        <h1>Actualizar ventas</h1>
    </div>
    
    <form class="form-container" action="PUT">
        
        <label class="txtfomr" for="txtId">ID</label>
        <input class="txtfomr" type="number" id="txtId">

        <label class="txtfomr" for="txtFechaVenta">Feche Venta</label>
        <input class="txtfomr" type="date" id="txtFechaVenta">

        <label class="txtfomr" for="txtPrecioFinal">Precio Final</label>
        <input class="txtfomr" type="number" id="txtPrecioFinal">

        <label class="txtfomr" for="txtObservaciones">Observaciones</label>
        <input class="txtfomr" type="text" id="txtObservaciones">

        <button class="btnEnviar" type="submit">Enviar</button>

    </form>
</div>
