<div class="container">

    <div class="titulo">
        <h1>Agregar concesionario</h1>
    </div>
    
    <form class="form-container" action="POST">

        <label class="txtfomr" for="txtNombre">Nombre</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Correo</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Telefono</label>
        <input class="txtfomr" type="number" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Direccion</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <button class="btnEnviar">Enviar</button>

    </form>
</div>
