<div class="container">


    <div class="buscar">
        <input type="search" placeholder="Buscar">
    </div>

    <div class="filtro">
        <input type="text" placeholder="Filtro">
    </div>

    <div class="acciones">
        <ul class="lista-acciones">
            <li><button class="agregar">A</button></li>
            <li><button class="editar">E</button></li>
            <li><button class="actualizar">Ac</button></li>
            <li><button class="eliminar">El</button></li>
        </ul>
    </div>

    <div class="rol">
        <input type="text" placeholder="Rol">
    </div>
   

</div>
