<div class="container">
    
    <form class="form-container" action="">
        
        <label class="txtfomr" for="txtNombre">ID</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Feche Venta</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Precio Final</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Observaciones</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <button class="btnEnviar">Enviar</button>

    </form>
</div>
<app-table-venta></app-table-venta>
