.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    background-color: #F2F2F2;

}

.menu-container {
    width: 20%;
    height: 100%;
}

.router {
    width: 80%;
    height: 100%;
}