<div class="container">

    <div class="titulo">
        <h1>Actualizar concesionario</h1>
    </div>
    
    <form class="form-container" action="PUT">
        
        <label class="txtfomr" for="txtId">ID</label>
        <input class="txtfomr" type="number" id="txtId">

        <label class="txtfomr" for="txtNombre">Nombre</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtCorreo">Correo</label>
        <input class="txtfomr" type="text" id="txtCorreo">

        <label class="txtfomr" for="txtTelefono">Telefono</label>
        <input class="txtfomr" type="number" id="txtTelefono">

        <label class="txtfomr" for="txtDireccion">Direccion</label>
        <input class="txtfomr" type="text" id="txtDireccion">

        <button class="btnEnviar" type="submit">Enviar</button>

    </form>
</div>