<div class="container">

    <div class="titulo">
        <h1>Actualizar concesionario</h1>
    </div>
    
    <form class="form-container" [formGroup]="actualizarForm" (ngSubmit)="actualizarConcesionario()">
        
        <label class="txtfomr" for="txtId">ID</label>
        <input class="txtfomr" type="number" id="txtId" name="txtId" formControlName="idConsecioanrio">

        <label class="txtfomr" for="txtNombre">Nombre</label>
        <input class="txtfomr" type="text" id="txtNombre" name="txtNombre" formControlName="nombre">

        <label class="txtfomr" for="txtCorreo">Correo</label>
        <input class="txtfomr" type="text" id="txtCorreo" name="txtCorreo" formControlName="correo">

        <label class="txtfomr" for="txtTelefono">Telefono</label>
        <input class="txtfomr" type="number" id="txtTelefono" name="txtTelefono" formControlName="telefono">

        <label class="txtfomr" for="txtDireccion">Direccion</label>
        <input class="txtfomr" type="text" id="txtDireccion" name="txtDireccion" formControlName="direccion">


    </form>
</div>