* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80vw;
    height: 90vh;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txtfomr {
    width: 30%;
    height: 2em;
    margin: 0 !important;
}

.txtfomr input {
    margin-bottom: .5em;
}

input {
    border-radius: 5px;
    
}

.btnEnviar {
    margin-top: 2em;
    width: 30%;
    height: 3.5em;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    background-color: #000000;
}

.btnEnviar:hover {
    cursor: pointer;
    background-color: #202020;
}

