<div class="container">
    
    
    <form class="form-container" action="">
        
                <label class="txtfomr" for="txtNombre">ID</label>
                <input class="txtfomr" type="text" id="txtNombre">

                <label class="txtfomr" for="txtNombre">Nombre</label>
                <input class="txtfomr" type="text" id="txtNombre">

                <label class="txtfomr" for="txtNombre">Apellido</label>
                <input class="txtfomr" type="text" id="txtNombre">

                <label class="txtfomr" for="txtNombre">Correo</label>
                <input class="txtfomr" type="text" id="txtNombre">

                <label class="txtfomr" for="txtNombre">Identificacion</label>
                <input class="txtfomr" type="text" id="txtNombre">

                <label class="txtfomr" for="txtNombre">Telefono</label>
                <input class="txtfomr" type="text" id="txtNombre">

                <label class="txtfomr" for="txtNombre">Direccion</label>
                <input class="txtfomr" type="text" id="txtNombre">

                <button class="btnEnviar">Enviar</button>

    </form>
    
    
</div>



