<div class="container">
    
    <form class="form-container" action="">
        
        <label class="txtfomr" for="txtNombre">ID</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Kilometraje</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Matricula</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Marca</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Modelo</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Color</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <label class="txtfomr" for="txtNombre">Precio</label>
        <input class="txtfomr" type="text" id="txtNombre">

        <button class="btnEnviar">Enviar</button>

    </form>
</div>

<app-table-vehiculo></app-table-vehiculo>
