<div class="container centrar">
    <nav class="container-nav centrar">
        <div class="logo-container">
            <img src="./../../../assets/logo.png" alt="Logo">

        </div>

        <div class="ul-container">
            <ul class="container-lista">
                <li class="container-lista-li"><a id="inicio" class="container-lista-li-a" routerLinkActive="activo" href="inicio">Inicio</a></li>
                <li class="container-lista-li"><a id="nosotros" class="container-lista-li-a" routerLinkActive="activo" href="nosotros">Nosotros</a></li>
                <li class="container-lista-li"><a id="sedes" class="container-lista-li-a" routerLinkActive="activo" href="sedes">Sedes</a></li>
                <li class="container-lista-li"><a class="container-lista-li-a" routerLinkActive="activo" href="vehiculos">Vehiculos</a></li>
                <li class="container-lista-li"><a class="container-lista-li-a" routerLinkActive="activo" [routerLink]="['dashboard']">Dashboard</a></li>
                
                
            <!--
                <li class="container-lista-li"><a class="container-lista-li-a" href="login">Login</a></li>
                <li class="container-lista-li"><a class="container-lista-li-a" href="registrarse">Registrarse</a></li>
                
            
            -->
            </ul>
        </div>
    </nav>
</div>



